<div class="row">
  <div class="col-xs-offset-1 col-xs-3">
    <div>
      <%= form_tag(novels_path, method: :get) do %>
        <%= text_field_tag :q, params[:q] %>
        <%= submit_tag("検索") %>
      <% end %>
    </div>
    <div>
      <%= link_to 'ランキング', rankings_novel_path %>
      <% if @top20_novels.present? %>
        <% @top20_novels.each_with_index do |novel, index| %>
          <div>
            <p><%= index+1 %>位：<%= link_to novel.title, novel %></p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="col-xs-offset-1 col-xs-6">
    <h4 class="text-right">新着小説一覧</h4>
    <% @novels.each do |novel| %>
      <div class="text-right">
        <%= link_to novel.title, novel %>
        <%= link_to novel.user.name, user_path(novel.user) %>
      </div>
    <% end %>
  </div>
</div>



